@keyframes vibrate {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-1px, 1px);
    }

    20% {
        transform: translate(-1px, -1px);
    }

    30% {
        transform: translate(1px, 1px);
    }

    40% {
        transform: translate(1px, -1px);
    }

    50% {
        transform: translate(0, 0);
    }

    60% {
        transform: translate(-1px, -1px);
    }

    70% {
        transform: translate(-1px, 1px);
    }

    80% {
        transform: translate(1px, -1px);
    }

    90% {
        transform: translate(1px, 1px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.Button-vibrate {
    animation: vibrate 2s infinite;
}